@model libraryMVC.Models.Uye

<h2 class="text-primary">Üye Düzenle</h2>
<hr>
<div class="jumbotron mt-5">
    <div class="row ml-4">
        <div class="col-4">

            @* <h5>Lütfen <span class="text text-danger">"^"</span> karakterini kullanmayınız. </h5> *@
            <form asp-action="EditUyeler" id="editUyeForm">
                <input type="hidden" asp-for="UyeNo" />
                <div class="mb-3">
                    <label for="UyeAd" class="form-label">Üye Adı</label>
                    <input required title="^ karakerini kullanmayın." asp-for="UyeAd" type="text" class="form-control"
                        id="UyeAd" aria-describedby="emailHelp" maxlength="20">
                    <div id="UyeAd" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="UyeSoyad" class="form-label">Üye Soyadı</label>
                    <input required title="^ karakerini kullanmayın." asp-for="UyeSoyad" type="text"
                        class="form-control" id="UyeSoyad" aria-describedby="emailHelp" maxlength="20">
                </div>
                <div class="mb-3">
                    <label for="UyeTel" class="form-label">Üye Telefon Numarası</label>
                    <input required title="^ karakerini kullanmayın." asp-for="UyeTelefon" type="text"
                        class="form-control" id="UyeTel" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="UyeEposta" class="form-label">Üye E-postası</label>
                    <input required title="^ karakerini kullanmayın." asp-for="UyeEposta" type="text"
                        class="form-control" id="UyeEposta" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="UyeAdres" class="form-label">Üye Adresi</label>
                    <input required title="^ karakerini kullanmayın." asp-for="UyeAdres" type="text"
                        class="form-control" id="UyeAdres" aria-describedby="emailHelp">
                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>
<a style="margin-bootm:100px;" asp-action="Uyeler" class="btn btn-outline-secondary btn-sm mx-2">Listeye Geri Dön</a>

@section Scripts{
<script>
    $(document).ready(function () {
        $("#editUyeForm").submit(function () {
            let data = $("#editUyeForm").serializeArray();
            $.ajax({
                url: "/Uye/EditUyeler",
                method: "POST",
                data: data,
                success: function () {
                    showSuccessAlert("Kaydetme Başarılı!\nUyeler'e yönlendiriliyorsunuz");
                    setTimeout(() => {
                        window.location.href = "/Uye/Uyeler";
                    }, 2500)

                }, error: function () {
                    showErrorAlert("Kaydetme Başarısız!");
                }
            })
            return false;
        })
    })
</script>
}