@model libraryMVC.Models.Uye

<hr>
<div class="jumbotron mt-5">
    <div class="row ml-4">
        <div class="col-md-6">
            <form asp-action="EditUyeler" id="editUyeForm">
                <input type="hidden" asp-for="UyeNo" />
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="display-4 text-primary">Üye Düzenle</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="UyeAd" class="form-label">Üye Adı</label>
                        <input required title="^ karakerini kullanmayın." asp-for="UyeAd" type="text"
                            class="form-control" id="UyeAd" aria-describedby="emailHelp" maxlength="20">
                        <div id="UyeAd" class="form-text"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="UyeSoyad" class="form-label">Üye Soyadı</label>
                        <input required title="^ karakerini kullanmayın." asp-for="UyeSoyad" type="text"
                            class="form-control" id="UyeSoyad" aria-describedby="emailHelp" maxlength="20">
                    </div>
                    <div class="col-md-6">
                        <label for="UyeTel" class="form-label">Üye Telefon Numarası</label>
                        <input required title="^ karakerini kullanmayın." asp-for="UyeTelefon" type="text"
                            class="form-control" id="UyeTel" aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <label for="UyeEposta" class="form-label">Üye E-postası</label>
                        <input required title="^ karakerini kullanmayın." asp-for="UyeEposta" type="text"
                            class="form-control" id="UyeEposta" aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12">
                        <label for="UyeAdres" class="form-label">Üye Adresi</label>
                        <input required title="^ karakerini kullanmayın." asp-for="UyeAdres" type="text"
                            class="form-control" id="UyeAdres" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<a style="margin-bootm:100px;" asp-action="Uyeler" class="btn btn-outline-secondary btn-sm mx-2">Listeye Geri Dön</a>

@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {

    })
</script>
}