@model IEnumerable<libraryMVC.Models.Uye>

@section Css{
<style>
    tr {
        transition: all .5s;
    }
</style>
}

<a asp-action="CreateUyeler" class="btn btn-outline-primary btn-sm mt-2">Yeni
    Üye Oluştur</a>
<div class="jumbotron mt-2">
    <h2 style="float:left;" class="text-info">Üye Listesi</h2>
    <div class="searchSection">
        <input class="form-control" style="max-width: 100px;" placeholder="ID" id="id" type="number" />&nbsp;
        <input class="form-control" style="max-width: 200px;" placeholder="Ara" id="searchString" type="text" />
    </div>
    <table class="table table-hover mt-3 table-striped">
        <thead>
            <th>Üye No</th>
            <th>Üye Adı</th>
            <th>Üye Soyadı</th>
            <th>Üye Telefonu</th>
            <th>Üye E-postası</th>
            <th>Üye Adres</th>
            <th>İşlemler</th>
        </thead>
        <tbody id="uyeler">

        </tbody>
    </table>
</div>
<a style="float:left; margin-bottom:100px;" asp-action="CreateUyeler" class="btn btn-outline-primary btn-sm mx-2">Yeni
    Üye Oluştur</a>

@section Scripts{
<script>
    getUyeler();
    $(document).ready(function () {
        $("#searchString").keyup(function () {
            if ($(this).val().length > 1) {
                $.ajax({
                    url: "/Uye/UyelerSearchBySearchString?searchString=" + $(this).val(),
                    method: "GET",
                    success: function (datas) {
                        console.log(datas)
                        let html = getDatas(datas);
                        $("#uyeler").empty().append(html);
                        idAnimation();
                    }
                })
            } else {
                getUyeler();
            }
        })
    })
    $(document).ready(function () {
        $("#id").keyup(function () {
            if ($(this).val().length > 0) {
                $.ajax({
                    url: "/Uye/UyelerSearchById?id=" + $(this).val(),
                    method: "GET",
                    success: function (data) {
                        console.log(data)
                        let html = getData(data);
                        $("#uyeler").empty().append(html);
                        idAnimation();
                    }
                })
            } else {
                getUyeler();
            }
        })
    })
    function getDatas(datas) {
        let html = "";
        datas.forEach(data => {
            html += `
            <tr id="${data.uyeNo}">
                <td>${data.uyeNo}</td>
                <td>${data.uyeAd}</td>
                <td>${data.uyeSoyad}</td>
                <td>${data.uyeTelefon}</td>
                <td>${data.uyeEposta}</td>
                <td>${data.uyeAdres}</td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal${data.uyeNo}" title="${data.uyeAd} ${data.uyeSoyad} Sil">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <a class="btn btn-primary text text-white" href="/Uye/EditUyeler/${data.uyeNo}"
                    role="button" title="${data.uyeAd} ${data.uyeSoyad} Düzenle>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="modal${data.uyeNo}" role="dialog" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Kayıt Siliniyor</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                aria-label="Close">X</button>
                            </div>
                            <div class="modal-body">
                                <span class="text-danger">${data.uyeAd} - ${data.uyeSoyad} - ${data.uyeEposta}</span>
                                <br>
                                Bu Kaydı Silmek İstediğinizden Emin misiniz?
                            </div>
                            <div class="modal-footer">
                                <!-- Button trigger modal -->
                            <a class="btn btn-secondary text text-white" data-dismiss="modal"
                                role="button">İptal</a>
                                <a class="btn btn-danger text text-white" href="/Uye/DeleteUyeler/${data.uyeNo}" role="button">Sil</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            `
        })
        return html;
    }
    function getData(data) {
        let html = `
        <tr id="${data.uyeNo}">
                <td>${data.uyeNo}</td>
                <td>${data.uyeAd}</td>
                <td>${data.uyeSoyad}</td>
                <td>${data.uyeTelefon}</td>
                <td>${data.uyeEposta}</td>
                <td>${data.uyeAdres}</td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal${data.uyeNo}" title="${data.uyeAd} ${data.uyeSoyad} Sil">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <a class="btn btn-primary text text-white" href="/Uye/EditUyeler/${data.uyeNo}"
                    role="button" title="${data.uyeAd} ${data.uyeSoyad} Düzenle>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="modal${data.uyeNo}" role="dialog" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Kayıt Siliniyor</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                aria-label="Close">X</button>
                            </div>
                            <div class="modal-body">
                                <span class="text-danger">${data.uyeAd} - ${data.uyeSoyad} - ${data.uyeEposta}</span>
                                <br>
                                Bu Kaydı Silmek İstediğinizden Emin misiniz?
                            </div>
                            <div class="modal-footer">
                                <!-- Button trigger modal -->
                            <a class="btn btn-secondary text text-white" data-dismiss="modal"
                                role="button">İptal</a>
                                <a class="btn btn-danger text text-white" href="/Uye/DeleteUyeler/${data.uyeNo}" role="button">Sil</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        `;
        return html;
    }
    function getUyeler() {
        $.ajax({
            url: "/Uye/UyelerSearchBySearchString",
            method: "GET",
            success: function (datas) {
                console.log(datas)
                let html = getDatas(datas);
                $("#uyeler").empty().append(html);
                idAnimation();
            }
        })
    }
    function idAnimation() {
        let getid = window.location.href.split("#")[1];
        $("tr#" + getid).addClass("bg-warning");
        setTimeout(() => {
            $("tr#" + getid).removeClass("bg-warning");
        }, 1000)
    }
</script>
}
