<style>
    
</style>
<div class="jumbotron">
    <h1 class="text text-primary">Kütüphane Otomasyonuna Hoş Geldiniz.</h1>
    <br>
    <p class="lead">Basit arama, kayıt ekleme, kayıt güncelleme ve daha fazlası.</p>
    <hr style="float:left;width:80%;">
    <br><br>
    <h3 class="text text-success">Başlayın</h3>
    <br>
    <a class="btn btn-primary btn-lg text text-white" role="button" asp-controller="Kitap" asp-action="Kitaplar">Kitaplar</a>
    <a class="btn btn-primary btn-lg text text-white" role="button" asp-controller="Uye" asp-action="Uyeler">Üyeler</a>
    <a class="btn btn-primary btn-lg text text-white" role="button" asp-controller="Emanet" asp-action="Emanetler">Emanetler</a>

</div>