@using libraryMVC.Entities;
@{
    string link = Context.Request.Path.ToString().Split("/")[2];
    string adminKitaplarClass = link.StartsWith("AdminKitaplar") ? "active":"";
    string adminEmanetlerClass = link.StartsWith("AdminEmanetler") ? "active":"";
    string adminUyelerClass = link.StartsWith("AdminUyeler") ? "active":"";
}
@section Css{
    <style>
        #leftNav{
            width: 100%;
            min-height: 100% !important;
        }
    </style>
}
<div id="leftNav" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">@link</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link @adminKitaplarClass aria-current="page">
                
                Kitaplar
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white @adminEmanetlerClass">
                
                Emanetler
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white @adminUyelerClass">
                
                Üyeler
            </a>
        </li>
    </ul>
    <hr>
    @{
        Uye uye = (ViewBag.MainViewModel.Uyeler as List<Uye>).FirstOrDefault(x => x.Email == User.Identity.Name);
    }
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>@uye.UyeAd</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>