@using libraryMVC.Entities;
@model List<Uye>;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Welcome">Kütüphane</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Kitap" asp-action="Kitaplar">Kitaplar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Uye" asp-action="Uyeler">Üyeler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Emanet"
                        asp-action="Emanetler">Emanetler</a>
                </li>
            </ul>
            @if (!User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Hesap" asp-action="GirisYap">Giriş Yap</a>
                    </li>
                </ul>
            }
            else
            {
                Uye uye = Model.FirstOrDefault(x=>x.Email == User.Identity.Name);
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        Hoşgeldiniz @uye.UyeAd.
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>