@model libraryMVC.Models.Kitap

<h2 class="text-primary">Yeni Kitap Oluştur</h2>
<hr>
<div class="jumbotron mt-5">
    <div class="row ml-4">
        <div class="col-4">

            @* <h5>Lütfen <span class="text text-danger">"^"</span> karakterini kullanmayınız. </h5> *@
            <form asp-action="CreateKitaplar" id="createKitaplarForm">
                <div class="mb-3">
                    <label for="kitapAd" class="form-label">Kitap Adı</label>
                    <input required asp-for="KitapAd" type="text" class="form-control" id="kitapAd"
                        aria-describedby="emailHelp">
                    <div id="kitapAd" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="KitapYazar" class="form-label">Kitap Yazarı</label>
                    <input required asp-for="KitapYazari" type="text" class="form-control" id="KitapYazar"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="KitapBaski" class="form-label">Kitap Baskı Yılı</label>
                    <input required asp-for="KitapBaskiYil" type="number" class="form-control" id="KitapBaski"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="KitapSayfa" class="form-label">Kitabın Sayfa Sayısı</label>
                    <input required asp-for="KitapSayfaSayi" type="number" class="form-control" id="KitapSayfa"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="KitapDil" class="form-label">Kitap Dili</label>
                    <input required asp-for="KitapDil" type="text" class="form-control" id="KitapDil"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="KitapYayin" class="form-label">Kitap Yayın Evi</label>
                    <input required asp-for="KitapYayinEvi" type="text" class="form-control" id="KitapYayin"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="KitapAciklama" class="form-label">Kitap Açıklaması</label>
                    <input asp-for="KitapAciklama" type="text" class="form-control" id="KitapAciklama"
                        aria-describedby="emailHelp" value="-" maxlength="30">
                </div>

                <button type="submit" class="btn btn-primary">Oluştur</button>
            </form>
        </div>
    </div>
</div>
<a style="float:left; margin-bottom:100px;" asp-action="Kitaplar" class="btn btn-outline-secondary btn-sm mx-2">Listeye
    Geri Dön</a>

@section Scripts{
<script>
    $(document).ready(function () {
        $("#createKitaplarForm").submit(function () {
            let data = $("#createKitaplarForm").serializeArray();
            $.ajax({
                url: "/Kitap/CreateKitaplar",
                method:"POST",
                data: data,
                success: function () {
                    showSuccessAlert("Ekleme Başarılı\nKitaplar'a yönlendiriliyorsunuz");
                    setTimeout(() => {
                        window.location.href = "/Kitap/Kitaplar";
                    },2500)
                },
                error: function () {
                    showErrorAlert("Ekleme Başarısız");
                }
            })
            return false;
        })
    })
</script>
}
