@model libraryMVC.Models.Kitap

<hr>
<div class="jumbotron mt-5">
    <div class="row ml-4">
        <div class="col-md-6">
            <form asp-action="EditKitaplar" id="editKitaplarForm">
                <input type="hidden" asp-for="KitapNo" />
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h2 class="display-4 text-primary">Kitabı Düzenle</h2>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="kitapAd" class="form-label">Kitap Adı</label>
                        <input required asp-for="KitapAd" class="form-control" id="kitapAd"
                            aria-describedby="emailHelp">
                        <div id="kitapAd" class="form-text"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="KitapYazar" class="form-label">Kitap Yazarı</label>
                        <input required asp-for="KitapYazari" class="form-control" id="KitapYazar"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12">
                        <label for="KitapBaski" class="form-label">Kitap Baskı Yılı</label>
                        <input required asp-for="KitapBaskiYil" class="form-control" id="KitapBaski"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12">
                        <label for="KitapSayfa" class="form-label">Kitabın Sayfa Sayısı</label>
                        <input required asp-for="KitapSayfaSayi" class="form-control" id="KitapSayfa"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12">
                        <label for="KitapDil" class="form-label">Kitap Dili</label>
                        <input required asp-for="KitapDil" class="form-control" id="KitapDil"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12">
                        <label for="KitapYayin" class="form-label">Kitap Yayın Evi</label>
                        <input required asp-for="KitapYayinEvi" class="form-control" id="KitapYayin"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="col-md-12">
                        <label for="KitapAciklama" class="form-label">Kitap Açıklaması</label>
                        <input asp-for="KitapAciklama" class="form-control" id="KitapAciklama"
                            aria-describedby="emailHelp" maxlength="30">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>
<a style="float:left; margin-bottom:100px;" asp-action="Kitaplar" class="btn btn-outline-secondary btn-sm mx-2">Listeye
    Geri Dön</a>

@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {

    })
</script>
}
