@model IEnumerable<libraryMVC.Dtos.EmanetDto>
@using System;
@using System.Collections.Generic;
@using System.Diagnostics;

<a style="" asp-action="CreateEmanetler" class="btn btn-outline-primary btn-sm mt-2">Yeni
    Emanet Oluştur</a>
<div class="jumbotron mt-2">
    <h2 style="float:left;" class="text-info display-4">Emanet Listesi</h2>

    <div class="searchSection">
        <input class="form-control" style="max-width: 100px;" placeholder="ID" id="id" type="number" />&nbsp;
        <input class="form-control" style="max-width: 200px;" placeholder="Ara" id="searchString" type="text" />
    </div>
    <div class="searchSection">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="emanetverme">
            <label class="form-check-label" for="emanetverme">
                Emanet Verme
            </label>
        </div>
        &nbsp;
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="emanetgerialma">
            <label class="form-check-label" for="emanetgerialma">
                Emanet Geri Alma
            </label>
        </div>
        &nbsp;
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="emanetislem">
            <label class="form-check-label" for="emanetislem">
                Emanet İşlem
            </label>
        </div>
    </div>
    <div class="searchSection">
        <span class="text-primary">Başlangıç:</span>&nbsp;<input type="date" style="max-width: 200px;"
            class="form-control" name="" id="startDate">&nbsp;
        <span class="text-primary">Bitiş:</span>&nbsp;<input type="date" style="max-width: 200px;" class="form-control"
            name="" id="finishDate">&nbsp;
        <button id="searchByDateResetButton" class="btn btn-info">Sıfırla</button>&nbsp;
        <button id="searchByDateButton" class="btn btn-primary">Ara</button>
    </div>
    <table class="table table-hover mt-3 table-striped">
        <thead>
            <th>Emanet No</th>
            <th>Üye Ad Soyad</th>
            <th>Kitap Ad</th>
            <th>Emanet Verme Tarihi</th>
            <th>Emanet Geri Alma Tarihi</th>
            <th>Emanet İşlem Tarihi </th>
            <th>Emanet Not</th>
            <th>Emanet Teslim Edildi</th>
            <th width="155px">İşlemler</th>
        </thead>
        <tbody id="emanetler"></tbody>
    </table>

</div>
<a style="float:left; margin-bottom:100px;" asp-action="CreateEmanetler"
    class="btn btn-outline-primary btn-sm mx-2">Yeni Emanet Oluştur</a>

@section Scripts{
<script>
    getAll();

    //GetById
    $(document).ready(function () {
        let emanetler = $("#emanetler");
        $("#id").keyup(function () {
            if ($(this).val()) {
                $.ajax({
                    url: "/Emanet/EmanetlerSearchById?id=" + $(this).val(),
                    method: "GET",
                    success: function (data) {
                        let html = getData(data);
                        emanetler.empty().append(html);
                    },
                    error: function (error) {
                        if (error.responseText === "Not Found") {
                            showErrorAlert("Böyle bir emanet yok");
                        }
                    }
                })
            } else {
                getAll();
            }
        })
    })

    $(document).ready(function () {
        $("#searchByDateButton").click(function () {
            let startDate = $("#startDate").val();
            let finishDate = $("#finishDate").val();
            if ($("#emanetverme:checked").length === 1) {
                console.log("emanetverme")
            }
            else if ($("#emanetgerialma:checked").length === 1) {
                console.log("emanet geri alma")
            }
            else if ($("#emanetislem:checked").length === 1) {
                $.ajax({
                    url: "/Emanet/EmanetSearchByEmanetIslem",
                    method: "POST",
                    data: { startDate, finishDate },
                    success: function (datas) {
                        console.log(datas);
                    }
                })
            }
        })
        $("#searchByDateResetButton").click(function () {
            getAll();
        })
    })

    //GetBySearchString
    $(document).ready(function () {
        let emanetler = $("#emanetler");
        $("#searchString").keyup(function () {
            if ($(this).val()) {
                $.ajax({
                    url: "/Emanet/EmanetlerSearchBySearchString?searchString=" + $(this).val(),
                    method: "GET",
                    success: function (datas) {
                        let html = getDatas(datas);
                        emanetler.empty().append(html);
                    }
                })
            } else {
                getAll();
            }
        })
    })

    function getDatas(datas) {
        let html = "";
        datas.forEach(data => {
            html += generatorHtml(data);
        })
        return html;
    }
    function getData(data) {
        return generatorHtml(data);
    }

    function getAll() {
        let emanetler = $("#emanetler");
        $.ajax({
            url: "/Emanet/EmanetlerSearchBySearchString?searchString=" + $("#searchString").val(),
            method: "GET",
            success: function (datas) {
                let html = getDatas(datas);
                emanetler.empty().append(html);
            },
            error: function (error) {
                if (error.responseText === "Not Found") {
                    showErrorAlert("Emanet bulunamadı");
                }
            }
        })
    }

    function generatorHtml(data) {
        let emanetClass = "";
        if (data.emanetTeslimEdildi === "Sürüyor") { emanetClass = "text-primary"; }
        else if (data.emanetTeslimEdildi === "Teslim Edildi") { emanetClass = "text-success"; }
        else if (data.emanetTeslimEdildi === "Teslim Edilmedi") { emanetClass = "text-danger"; }
        return `
                <tr id="${data.emanetNo}">
                    <td>${data.emanetNo}</td>
                    <td>
                        <a href="/Uye/Uyeler#${data.uye.uyeNo}">${data.uye.uyeAd} ${data.uye.uyeSoyad}</a>
                    </td>
                    <td>
                        <a href="/Kitap/Kitaplar#${data.kitap.kitapNo}">${data.kitap.kitapAd}</a>
                    </td>
                    <td>${data.emanetVermeTarih}</td>
                    <td>${data.emanetGeriAlmaTarih}</td>
                    <td>${data.emanetIslemTarih}</td>
                    <td>${data.emanetNot}</td>
                    <td>
                        <p class="${emanetClass}">${data.emanetTeslimEdildi}</p>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal${data.emanetNo}" title="Emaneti Sil">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <a class="btn btn-primary text text-white" href="/Emanet/EditEmanetler/${data.emanetNo}"
                        role="button" title="Emaneti Düzenle">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="modal${data.emanetNo}" role="dialog" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Kayıt Siliniyor</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close">X</button>
                                    </div>
                                    <div class="modal-body">
                                        <span class="text-danger">${data.emanetNo} - ${data.emanetTeslimEdildi}</span>
                                        <br>
                                        Bu Kaydı Silmek İstediğinizden Emin misiniz?
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn  btn-secondary text text-white" data-dismiss="modal"
                                        role="button">İptal</a>
                                        <a class="btn btn-danger text text-white" href="/Emanet/DeleteEmanetler/${data.emanetNo}" role="button">Sil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            `;
    }
    function showSuccessAlert(message) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: message
        })
    }
</script>
@if (ViewBag.Message != null && ViewBag.Message.EndsWith("başarıyla güncellendi"))
{
<script>
    showSuccessAlert("@ViewBag.Message")
</script>
}
else if(ViewBag.Message != null && ViewBag.Message.EndsWith("başarıyla eklendi"))
{
<script>
    showSuccessAlert("@ViewBag.Message")
</script>
}
}
